<<<<<<< HEAD
.widget-card[_ngcontent-ng-c1702099175] {
    background: rgb(0 0 0 / 80%);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 235px;
    display: flex;
    justify-content: space-around;
    border: 1px solid rgb(255 255 255 / 16%);
}
.widget .material-icons {
  font-size: 64px;
  margin-right: 8px;
  color: #555;
=======
.widget-card[_ngcontent-ng-c1702099175] {
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 217px;
    display: flex;
    justify-content: space-around;
}
.widget .material-icons {
  font-size: 64px;
  margin-right: 8px;
  color: #555;
>>>>>>> 9ed240678e279fddec5fe3b25db25c6590c220f1
}