.new-users{
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 80%);
    padding: 10px;
    border-radius: 16px;
    font-size: 10px;
    width: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
    border: 1px solid rgb(255 255 255 / 16%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.new-users:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font: 400 1.112rem / 3.25rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: -13px 0 -0.5em;
}

.new-users .user-list{
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.rem;
    transition: all 0.3s ease;
}

.new-users .user-list:hover{
    box-shadow: none;
}

.new-users .user-list .user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-users .user-list .user img{
    width: 4rem;
    height: 4rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
}