<div class="weather-container">
  <!-- <app-user-form (locationSubmitted)="city = $event"></app-user-form> -->

  <h3>Weather Forecast</h3>
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="city"
      placeholder="Enter city name"
      [ngClass]="{ 'empty-input': isCityInputEmpty }"
      (input)="isCityInputEmpty = false; cityError = ''"
    />
    <button (click)="searchCity()">Search</button>
  </div>
  
  <!-- Error message for empty input -->
  <div *ngIf="isCityInputEmpty" class="error-message">
    Please enter a city name.
  </div>
  
  <!-- Error message for invalid city name -->
  <div *ngIf="cityError" class="error-message">
    {{ cityError }}
  </div>

  <!-- Display weather data if available -->
  <div *ngIf="weatherData">
    <h4>{{ weatherData.name }}, {{ weatherData.sys.country }}</h4>
    <p>Temperature: {{ weatherData.main.temp }} °C</p>
    <p>Weather: {{ weatherData.weather[0].description }}</p>
    <p>Humidity: {{ weatherData.main.humidity }}%</p>
  </div>
</div>


  
  
