
  <div class="container" style="margin: 20px;">
    <h1 class="text-center">Welcome to Angular Bootstrap</h1>
    <button class="btn btn-primary">Bootstrap Button</button>
  </div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mat-dark-theme">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  