<div class="dashboard-content">
    <h3>DASHBOARD</h3>
  <div class="widgets">
    <app-widget title="New Visits: " value="57,820" icon="person"></app-widget>
    <app-widget title="Purchases: " value="$89,745" icon="attach_money"></app-widget>
    <app-widget title="Active Users: " value="178,391" icon="sentiment_satisfied_alt"></app-widget>
    <app-widget title="Returned: " value="32,592" icon="undo"></app-widget>
  </div>
  <app-chart></app-chart>
  <app-map></app-map>
</div>


