/* Todo Container */
.todo-container {
  width: 100%;
  padding: 10px;
  background: rgb(0 0 0 / 80%);
  border-radius: 16px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 5);
  border: 1px solid rgb(255 255 255 / 16%);
  height: 315px;
  overflow-y: scroll;
}

.todo-container h3 {
  font: 400 1.112rem / 3.25rem Roboto, sans-serif;
  letter-spacing: 0;
  margin: -13px 0 -0.5em; 
}

/* Input field */
.search-container{
    display: flex;
    padding: 10px;
}

.search {
    display: flex;
  width: 70%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #555;
  border-radius: 8px;
  margin-right: 10px;
  background-color: rgb(35 35 35 / 60%);
  color: #fff;
  transition: border-color 0.3s ease-in-out;
}

.search:focus {
  outline: none;
  border-color: #007bff;
}

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 1px red, 0 0 4px red, 0 0 6px red, 0 0 8px red;
  }
  50% {
    box-shadow: 0 0 2px red, 0 0 6px red, 0 0 8px red, 0 0 10px red;
  }
}

.search-container input.empty-input {
  animation: glowPulse 1.5s infinite alternate; /* Pulsing glow effect */
}


.todo-container input[type="checkbox"] {
  margin-right: 10px;
}

/* Button */
.todo-container button {
  width: 25%;
  padding: 6px;
  font-size: 0.7rem;
  background-color: rgb(35 35 35 / 60%);
  border: 1px solid rgb(255 255 255 / 16%);
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.todo-container button:hover {
  background-color: #555;
}

.todo-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Todo List Item Styling */
.todo-container ul {
  list-style-type: none;
  padding: 10px;
  margin-top: 20px;
}

.todo-container li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
}

.todo-container li span {
  font-size: 1rem;
  color: #fff;
  margin-left: 10px;
  word-wrap: break-word;
}

/* Completed Task Styling */
.todo-container li .completed {
  text-decoration: line-through;
  color: #888;
}

.completed {
  text-decoration: line-through;
}

.remove-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: darkred;
}


