<div class="todo-container">
  <h3>Todo List</h3>
  <div class="search-container">
    <!-- Add conditional class for red border if input is empty -->
    <input 
      class="search" 
      [(ngModel)]="newTodo" 
      placeholder="Add a new task"
      [ngClass]="{ 'empty-input': isInputEmpty }" 
      (input)="isInputEmpty = false" /> <!-- Reset isInputEmpty on input -->
    <button (click)="addTodo()">Add Task</button>
  </div>
  <ul>
    <li *ngFor="let item of todoItems; let i = index">
      <input type="checkbox" [(ngModel)]="item.done" (change)="toggleTodoStatus(i)">
      <span [class.completed]="item.done">{{ item.task }}</span>
      <button (click)="removeTodo(i)">Remove</button> <!-- Add remove button -->
    </li>
  </ul>
</div>




